/* Universal styles */
* {
  margin: 0;
  box-sizing: border-box;
}

a, a:visited, a::after, a::before {
  text-decoration: none;
}

/* Navbar Home link */
.home-link {
  border: none;
}

/* Navbar Favourite Movies link */
.favourite-movies-link {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid yellow;
}

/* List of Favourite Movies */
#list-of-fav-movies {
  position: absolute;
  top: 64px;
  width: 100%;
}

/* Remove From Favourites Button */
.remove-from-favourites-btn {
  padding: 1rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 450px) {
  
  /* body */
  body {
    overflow: scroll;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* List of Favourite Movies */
  #list-of-fav-movies {
    top: 48px;
  }

  /* Individual movie container */
  #list-of-fav-movies li {
    padding: 0.5rem 1rem;
  }

  /* Remove From Favourites Button */
  .remove-from-favourites-btn {
    padding: 0.3rem;
    font-size: 11px;
    border-radius: 5px;
  }
}
