* {
  margin: 0;
  box-sizing: border-box;
}

a, a:visited, a::after, a::before {
  text-decoration: none;
}

.home-link {
  border: none;
}

#movie-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 90vw;
  margin: 5rem auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#movie-info::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#movie-info {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#movie-info-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#movie-info-poster {
  max-width: 50%;
  height: 100%;
}

#movie-info-text {
  align-self: flex-start;
  color: white;
}

#movie-info-year {
  color: wheat;
}

#movie-info-plot {
  font-size: 24px;
  margin-top: 10rem;
}

#movie-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#movie-info-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffff00;
  border-radius: 10px;
}

.add-to-favourites-btn {
  width: 10rem;
}

.add-to-favourites-btn:hover {
  color: white;
  background-color: #f53803;
}

/* Media queries for responsive design */

@media screen and (max-width: 1000px) {

  #movie-info {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  #movie-info-left {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  #movie-info-year {
    font-size: 14px;
  }

  #movie-info-plot {
    font-size: 16px;
    margin-top: 1rem;
  }

  #movie-info-right {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-height: 600px) {
	
  body {
    overflow: scroll;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
}
