* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited, a::after, a::before {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: black;
  color: white;
}

.link {
  text-align: center;
  width: 12rem;
}

.link a{
  color: white;
  font-size: 24px;
}

.home-link {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid yellow;
}

.fa-imdb {
  color: yellow;
  font-size: 64px;
}

#search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: auto;
  margin-top: 8rem;
  position: relative;
}

#search {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

.fa-magnifying-glass {
  position: absolute;
  right: 2%;
  font-size: 24px;
  color: #f53803;
}

#list-of-movies {
  width: 60vw;
  height: 70vh;
  top: 64px;
  margin: 1rem auto;
  overflow: scroll;
  /* border: 1px solid black; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#list-of-movies::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#list-of-movies {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.movie-card {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: whitesmoke;
  border-bottom: 1px solid grey;
}

.movie-card-left {
  display: flex;
  gap: 1rem;

}

.movie-card-img {
  display: inline-block;
  width: 5rem;	
  height: 100%;
  transform: scale(1.15);
}

.movie-card-name-year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}

.movie-card-name {
  font-size: large;
  font-weight: bold;
}

.movie-card-year {
  font-size: small;
}

.btn {
  color: white;
  background-color: #0039a6;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #f53803;
  color: black;
  background-color: #f5d020;
}

.read-more-btn {
  width: 6rem;
  height: 2rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 5px;
}

.add-to-favourites-btn {
  padding: 1rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 450px) {

  nav {
    padding: 0 1rem;
  }

  .link {
    width: 6rem;
  }

  .fa-imdb {
    font-size: 48px;
  }

  .link a {
    font-size: 14px;
  }

  #search-box {
    width: 100%;
    margin-top: 4rem;
    padding: 0 1rem;
  }

  #search {
    font-size: 18px;
  }

  .fa-magnifying-glass {
    right: 6%;
  }

  #list-of-movies {
    width: 100%;
    height: 75vh;
  }

  .movie-card {
    padding: 0.5rem 0.5rem;
  }

  .movie-card-left {
    gap: 0;
  }

  .movie-card-img {
    align-self: center;
    transform: none;
  }

  .movie-card-name-year {
    padding: 0.5rem;
  }

  .movie-card-name {
    font-size: small;
  }

  .movie-card-year {
    font-size: x-small;
  }

  .read-more-btn {
    width: 5rem;
    height: auto;
    padding: 0.3rem;
    font-size: 10px;
  }

  .add-to-favourites-btn {
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    border-radius: 5px;
  }
}
